Adafruit-Blinka==8.68.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-busdevice==5.2.14
adafruit-circuitpython-connectionmanager==3.1.6
adafruit-circuitpython-dht==4.0.10
adafruit-circuitpython-pcf8591==1.0.23
adafruit-circuitpython-register==1.11.1
adafruit-circuitpython-requests==4.1.15
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.85.0
Adafruit-PureIO==1.1.11
aiofiles==25.1.0
aiogram==3.23.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp_socks==0.11.0
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
binho-host-adapter==0.1.6
blinker==1.9.0
certifi==2025.11.12
charset-normalizer==3.4.6
click==8.3.1
colorzero==2.0
fastapi==0.128.0
fastapi-utils==0.8.0
Flask==3.1.2
frozenlist==1.8.0
gpiozero==2.0.1
h11==0.16.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
lgpio==0.2.2.0
magic-filter==1.0.12
MarkupSafe==3.0.3
multidict==6.7.0
mypy_extensions==1.1.0
numpy==2.4.1
opencv-contrib-python==4.13.0.90
pillow==12.1.0
propcache==0.4.1
psutil==5.9.8
pydantic==2.12.5
pydantic_core==2.41.5
pyftdi==0.57.1
pyserial==3.5
python-multipart==0.0.21
python-socks==2.8.1
pyusb==1.3.1
requests==2.32.5
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
smbus2==0.6.0
spidev==3.8
starlette==0.50.0
sysv_ipc==1.1.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.40.0
vk==3.0
vk_api==11.10.0
waveshare-epaper==1.3.0
Werkzeug==3.1.5
yarl==1.22.0
